In [0]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns
import nltk

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

Merge Train & test Data

In [0]:
df= train.append(test, ignore_index=True)

Using Html Parser Removing HTML Tags

In [0]:
from html.parser import HTMLParser
html_parser = HTMLParser()

In [0]:
df.iloc[289,1]

'The 2 most important women in mine and the boys lifes. Happy mothers day to my wife Katie, and to my mum and nain Gail. Hope you both have had a lovely day. Also thinking of the mums who are sadly not with us today, especially our boys nanny pic.twitter.com/Ibb8n5sZSK'

In [0]:
df['clean_tweet'] = df['original_text'].apply(lambda x: html_parser.unescape(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  """Entry point for launching an IPython kernel.

In [0]:
df.iloc[895,6]

'@CwmTafMorgannwg Happy mothers day to all our Neonatal mothers from all your special babies in #princecharleshospital posted with permission pic.twitter.com/rM3MIo0FVY'

Using Re Removing URL's

In [0]:
df['clean_tweet'] = df['original_text'].str.replace('http\S+|www.\S+|pic.twitter.com\S+|instagram.com\S+|igshid\S+|buff.ly\S+|sallycleggart.co.uk/index.php/sall ys-blog/\S+|pic.twitter.com/1BF4y0wKB8\S+', '', case=False)

In [0]:
df.iloc[895,6]

'@CwmTafMorgannwg Happy mothers day to all our Neonatal mothers from all your special babies in #princecharleshospital posted with permission '

In [1]:
Using Re Removing @ words

SyntaxError: ignored

In [0]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt

In [0]:
df['clean_tweet'] = np.vectorize(remove_pattern)(df['clean_tweet'], "@[\w]*")

In [0]:
df.iloc[895,6]

' Happy mothers day to all our Neonatal mothers from all your special babies in #princecharleshospital posted with permission pic.twitter.com/rM3MIo0FVY'

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: x.lower())

In [0]:
# Apostrophe Dictionary
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

In [0]:
def lookup_dict(text, dictionary):
    for word in text.split():
        if word.lower() in dictionary:
            if word.lower() in text.split():
                text = text.replace(word, dictionary[word.lower()])
    return text

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: lookup_dict(x,apostrophe_dict))

In [0]:
df.head()

             id  ...                                        clean_tweet
0  1.245025e+18  ...  happy #mothersday to all you amazing mothers o...
1  1.245759e+18  ...  happy mothers day mum - I am sorry i cannot be...
2  1.246087e+18  ...  happy mothers day to all this doing a mothers ...
3  1.244803e+18  ...  happy mothers day to this beautiful woman...ro...
4  1.244876e+18  ...  remembering the 3 most amazing ladies who made...

[5 rows x 7 columns]

In [0]:
short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: lookup_dict(x,short_word_dict))
df.head()

             id  ...                                        clean_tweet
0  1.245025e+18  ...  happy #mothersday to all you amazing mothers o...
1  1.245759e+18  ...  happy mothers day mum - I am sorry i cannot be...
2  1.246087e+18  ...  happy mothers day to all this doing a mothers ...
3  1.244803e+18  ...  happy mothers day to this beautiful woman...ro...
4  1.244876e+18  ...  remembering the 3 most amazing ladies who made...

[5 rows x 7 columns]

In [0]:
emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: lookup_dict(x,emoticon_dict))
df.head(10)

             id  ...                                        clean_tweet
0  1.245025e+18  ...  happy #mothersday to all you amazing mothers o...
1  1.245759e+18  ...  happy mothers day mum - I am sorry i cannot be...
2  1.246087e+18  ...  happy mothers day to all this doing a mothers ...
3  1.244803e+18  ...  happy mothers day to this beautiful woman...ro...
4  1.244876e+18  ...  remembering the 3 most amazing ladies who made...
5  1.244524e+18  ...  happy mother’s day! bratz world familiez yasmi...
6  1.244202e+18  ...  happy mother’s day to all you wonderful mums o...
7  1.244341e+18  ...  show me a mother of two as sexy as rosie happy...
8  1.244049e+18  ...  to all the mothers, grandmothers, aunts, siste...
9  1.245780e+18  ...  to all the mothers around the world, gas to he...

[10 rows x 7 columns]

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: re.sub(r'[^\w\s]',' ',x))
df.head()

             id  ...                                        clean_tweet
0  1.245025e+18  ...  happy  mothersday to all you amazing mothers o...
1  1.245759e+18  ...  happy mothers day mum   I am sorry i cannot be...
2  1.246087e+18  ...  happy mothers day to all this doing a mothers ...
3  1.244803e+18  ...  happy mothers day to this beautiful woman   ro...
4  1.244876e+18  ...  remembering the 3 most amazing ladies who made...

[5 rows x 7 columns]

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]',' ',x))
df.head()

             id  ...                                        clean_tweet
0  1.245025e+18  ...  happy  mothersday to all you amazing mothers o...
1  1.245759e+18  ...  happy mothers day mum   I am sorry i cannot be...
2  1.246087e+18  ...  happy mothers day to all this doing a mothers ...
3  1.244803e+18  ...  happy mothers day to this beautiful woman   ro...
4  1.244876e+18  ...  remembering the 3 most amazing ladies who made...

[5 rows x 7 columns]

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: re.sub(r'[^a-zA-Z]',' ',x))
df.head(10)

             id  ...                                        clean_tweet
0  1.245025e+18  ...  happy  mothersday to all you amazing mothers o...
1  1.245759e+18  ...  happy mothers day mum   I am sorry i cannot be...
2  1.246087e+18  ...  happy mothers day to all this doing a mothers ...
3  1.244803e+18  ...  happy mothers day to this beautiful woman   ro...
4  1.244876e+18  ...  remembering the   most amazing ladies who made...
5  1.244524e+18  ...  happy mother s day  bratz world familiez yasmi...
6  1.244202e+18  ...  happy mother s day to all you wonderful mums o...
7  1.244341e+18  ...  show me a mother of two as sexy as rosie happy...
8  1.244049e+18  ...  to all the mothers  grandmothers  aunts  siste...
9  1.245780e+18  ...  to all the mothers around the world  gas to he...

[10 rows x 7 columns]

In [0]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))
df['clean_tweet'][0:5]

0    happy mothersday to all you amazing mothers ou...
1    happy mothers day mum am sorry cannot be there...
2    happy mothers day to all this doing mothers da...
3    happy mothers day to this beautiful woman roya...
4    remembering the most amazing ladies who made m...
Name: clean_tweet, dtype: object

In [0]:
df.iloc[785,6]

'mothers day different way we made happy mothers day sign to put in our window plus rainbow picture something our whole village is doing to bring joy to us all when we go for suitably distanced walk we'

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import gensim

In [0]:
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
bow = bow_vectorizer.fit_transform(df["clean_tweet"] )
bow.shape

(4622, 1000)

In [0]:
train_bow = bow[:3235,:]
test_bow = bow[3235:,:]

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [0]:

# splitting data into training and validation set(@[A-Za-z0-9]+)
xtrain_bow, xvalid_bow, ytrain, yvalid = train_test_split(train_bow,train['sentiment_class'],  
                                                          random_state=42, 
                                                          test_size=0.3)

#WORD2VEC

In [0]:
tokenized_tweet = df["clean_tweet"].apply(lambda x: x.split()) # tokenizing

model_w2v = gensim.models.Word2Vec(
            tokenized_tweet,
            size=200, # desired no. of features/independent variables 
            window=5, # context window size
            min_count=5,
            sg = 1, # 1 for skip-gram model
            hs = 0,
            negative = 10, # for negative sampling
            workers= 2, # no.of cores
            seed = 34)

model_w2v.train(tokenized_tweet, total_examples= len(df["clean_tweet"]), epochs=100)

(8146173, 14626800)

In [0]:
model_w2v.wv.most_similar(positive="happy")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('day', 0.6139599084854126),
 ('mothers', 0.6063889265060425),
 ('all', 0.5129091739654541),
 ('to', 0.49790841341018677),
 ('mother', 0.49261581897735596),
 ('and', 0.4708230197429657),
 ('svg', 0.4642276167869568),
 ('the', 0.4412977397441864),
 ('my', 0.418209046125412),
 ('reviveoldpost', 0.3837188482284546)]

In [0]:
def word_vector(tokens, size):
    vec = np.zeros(size).reshape((1, size))
    count = 0.
    for word in tokens:
        try:
            vec += model_w2v[word].reshape((1, size))
            count += 1.
        except KeyError: # handling the case where the token is not in vocabulary
                         
            continue
    if count != 0:
        vec /= count
    return vec

In [0]:
wordvec_arrays = np.zeros((len(tokenized_tweet), 200))

for i in range(len(tokenized_tweet)):
    wordvec_arrays[i,:] = word_vector(tokenized_tweet[i], 200)
    
wordvec_df = pd.DataFrame(wordvec_arrays)
wordvec_df.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

(4622, 200)

In [0]:
train_w2v = wordvec_df.iloc[:3235,:]
test_w2v = wordvec_df.iloc[3235:,:]

xtrain_w2v = train_w2v.iloc[ytrain.index,:]
xvalid_w2v = train_w2v.iloc[yvalid.index,:]

In [0]:
from xgboost import XGBClassifier

Usually we can use grid search for Parameter tuning ,Here also I'm used Gridsaerch only for best parameters, after performing gridsearch I got below best parameters

Here we can use TF-IDF & BOW Im alredy tried with them but I got less accuracy compare to Word2vec festure set

In [0]:
xgb = XGBClassifier(learning_rate =0.1,
                    n_estimators=1000,
                    max_depth=8,
                    min_child_weight=6,
                    gamma=1.2,
                    subsample=0.9,
                    colsample_bytree=0.6,
                    scale_pos_weight=1,
                    objective='multi:softprob',
                    seed=27).fit(xtrain_w2v, ytrain)

In [0]:
prediction = xgb.predict(xvalid_w2v)
f1_score(yvalid, prediction,average='micro')

0.4922760041194645

In [0]:

test_pred = xgb.predict(test_w2v )
test['sentiment_class'] = pd.Series(test_pred)
submission = test[['id','sentiment_class']]
submission.to_csv('sub_xgb_w2v2.csv', index=False)

In [0]:
re = pd.read_csv('/content/sub_xgb_w2v2.csv')

In [0]:

re['sentiment_class'].value_counts()

 0    1216
 1      99
-1      72
Name: sentiment_class, dtype: int64